<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <h1>Test values</h1>
    {{$songz := .}}
    <ul>
      {{range .}}
      <li>{{.}}</li>
      {{ end }}
    </ul>
    <ul>
      {{range $idx, $val := .}}
      <li>{{ $idx }} - {{uc $val }}</li>
      {{ end }}
    </ul>
  </body>
</html>
